In [64]:
import pandas as pd

df = pd.DataFrame([['a', 1, 2],  ['b', 3, 4],  ['c', 5, 6]] , columns=['col1','col2', 'col3'])
df

  col1  col2  col3
0    a     1     2
1    b     3     4
2    c     5     6

In [74]:
df2 = df['col1'].to_frame()
df2

  col1
0    a
2    c

In [75]:
df2['col1'].dropna()

0    a
2    c
Name: col1, dtype: object

In [66]:
df = df[df["col1"].str.contains("b") == False]

In [67]:
df

  col1  col2  col3
0    a     1     2
2    c     5     6